@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    border: 0;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    width: 95%;
}

body {
    background: #ebf5fb;
}

h1 {
    font-size: 35px;
    margin-top: 3%;
    text-align: center;
}

h2 {
    margin: 0 auto;
}

p {
    font-size: 14px;
}

.game-window, .puzzle-container, .image, .menu-modal, #menu-button, #moves-counter, button#new-game {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.game-window {
    background: #242F36;
    border: 15px solid #2f97a0;
    height: 70vh;
    margin: 0 auto;
    margin-top: 1%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
    padding-top: 6%;
    width: 96%;
}

/*Menu modal styling*/
.menu-modal {
    background: #ebf5fb;
    border: 15px solid #2f97a0;
    display: none;
    height: 65vh;
    left: 25px;
    overflow: auto;
    padding-bottom: 35px;
    position: absolute;
    width: 92%;
    z-index: 1;
}

.menu-title {
    color: #242F36;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    top: 10px;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

#menu-button {
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20%;
    padding: 2px;
}

#menu-button:hover {
    background-color: #2f97a0;
}

.sub-menu {
    text-decoration: none;
}

.accordion {
    background-color: #ebf5fb;
    border: none;
    color: #2f97a0;
    cursor: pointer;
    display: block;
    font-size: 18px;
    margin:0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
    width: 100%;
}

.active, .accordion:hover {
    font-weight: 700;
}

.menu-text p {
    color: black;
    display: none;
    overflow: hidden;
}

.bold {
    font-weight: 700;
}

/*Button styling and positioning*/
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#moves-counter {
    background-color: #F5F5F5;
    margin-right: 20%;
    margin-top: 60px;
    padding: 2px;
    text-align: center;
}

button#new-game {
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
    margin-right: 20%;
    padding: 2px;
}

button#menu:hover {
    background-color: #2f97a0;
}

button#new-game:hover {
    background-color: #2f97a0;
}

/*Styling and positioning for puzzle*/
.puzzle-container {
    background: url(../images/coast-of-galway1.jpg);
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    height: 360px;
    margin: 0 auto;
    width: 360px;
}

.puzzle-tile1 {
    background-position: left top;
}
.puzzle-tile2 {
    background-position: center top;
}
.puzzle-tile3 {
    background-position: right top;
}
.puzzle-tile4 {
    background-position: left center;
}
.puzzle-tile5 {
    background-position: center center;
}
.puzzle-tile6 {
    background-position: center right;
}
.puzzle-tile7 {
    background-position: left bottom;
}
.puzzle-tile8 {
    background-position: center bottom;
}
.puzzle-tile9 {
    background: #F5F5F5;
    cursor: default;
}

.puzzle-tile {
    border: 1px solid #F5F5F5;
    display: table-cell;
    height: 120px;
    width: 120px;
}

/*Original image positioning*/
.image img {
    border: 1px solid #F5F5F5;
    height: auto;
    width: 360px;
}

/*Footer styling*/
.footer-icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 2%;
}

.footer-icons li {
    align-items: center;
    display: inline;
    padding: 0 5px;
}

footer p {
    margin-bottom: 0;
    text-align: center;
}