@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    border: 0;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

main {
    margin: 0 auto;
    max-height: 490px;
    max-width: 912px;
    width: 95%;
}

body {
    background: #ebf5fb;
}

h1 {
    font-size: 35px;
    margin-top: 3%;
    text-align: center;
}

h2 {
    margin: 0 auto;
}

p {
    font-size: 14px;
}

.game-window, .puzzle-container, .image, .menu-modal, #menu-button, #moves-counter, button#new-game {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.game-window {
    background: #242F36;
    border: 15px solid #2f97a0;
    height: 70vh;
    margin: 0 auto;
    margin-top: 1%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /*margin: 0 auto;*/
    margin-left: 1em;
    max-height: 419px;
    max-width: 846px;
    padding-top: 6%;
    width: 97%;
}

/*Menu modal styling*/
.menu-modal {
    background: #ebf5fb;
    border: 15px solid #2f97a0;
    display: none;
    height: 65vh;
    max-height: 490px;
    max-width: 912px;
    overflow: auto;
    padding-bottom: 35px;
    position: absolute;
    width: 882px;
    z-index: 1;
}

.menu-title {
    color: #242F36;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    top: 10px;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

#menu-button {
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 12%;
    padding: 2px;
}

.sub-menu {
    text-decoration: none;
}

.menu-subtitle {
    background-color: #ebf5fb;
    border: none;
    color: #2f97a0;
    cursor: pointer;
    display: block;
    font-size: 18px;
    margin:0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.active, .menu-subtitle:hover {
    font-weight: 700;
}

.menu-text {
    display: block;
}

.menu-text p {
    color: black;
    display: block;
    font-size: 14px;
    margin: 10px;
}

.bold {
    font-weight: 700;
}

/*Button styling and positioning*/
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
}

#moves {
    background-color: #F5F5F5;
    font-size: 13px;
    margin-right: 12%;
    margin-top: 60px;
    padding: 2px;
    text-align: center;
}

button#new-game {
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 12%;
    padding: 2px;
}

button#menu-button:hover {
    background-color: #2f97a0;
}

button#new-game:hover {
    background-color: #2f97a0;
}

/*Styling and positioning for puzzle*/
.puzzle-container {
    cursor: pointer;
    display: table;
    height: 360px;
    margin: 0 auto;
    width: 360px;
}

/*Styling for tiles*/
.tile1 {
    border: 1px solid #F5F5F5;
    cursor: pointer;
    display: table-cell;
    height: 120px;
    width: 120px;
}

/*Tile positioning*/

.tile {
    background: url(../images/coast-of-galway360.jpg);
    background-position: left top;
    background-size: 360px 360px;
    border: 1px solid #F5F5F5;
    cursor: pointer;
    display: table-cell;
    height: 120px;
    width: 120px;
}
.tile1 {
    background-position: left top;
}
.tile2 {
    background-position: center top;
}
.tile3 {
    background-position: right top;
}
.tile4 {
    background-position: left center;
}
.tile5 {
    background-position: center center;
}
.tile6 {
    background-position: center right;
}
.tile7 {
    background-position: left bottom;
}
.tile8 {
    background-position: center bottom;
}
.tile.tile9 {
    background: #F5F5F5;
    cursor: default;
}

/*Original image positioning*/
.image img {
    border: 1px solid #F5F5F5;
    height: auto;
    width: 360px;
}

/*Footer styling*/
.footer-icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 2%;
}

.footer-icons li {
    align-items: center;
    display: inline;
    padding: 0 5px;
}

footer p {
    margin-bottom: 0;
    text-align: center;
}

.copyright {
    padding-top: 2px;
}

/* for screen size under 315px and over 310px wide */
@media (max-width: 315px) and (min-width: 310px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 4%;
    }
    .game-window {
        margin: 0;
    }
    .flex-container {
        bottom: 143px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: 34px;
        max-height: 225px;
        max-width: 225px;
        padding: 0;
        position: fixed;
    }
    .image img {
        max-height: 140px;
        max-width: 140px;
        position: fixed;
        right: 35px;
        top: 103px;
    }
    .image {
        bottom: 180px;
        left: 95px;
        max-height: 140px;
        max-width: 140px;
        position: relative;
    }
    .tile {
        background-size: 225px 225px;
        height: 75px;
        position: relative;
        width: 75px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 2.8em;
        position: fixed;
        top: 100px;
        width: 32%;
    }
    .menu-modal {
        height: 65vh;
        position: absolute;
        width: 87%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 12px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 4px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 4px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 70px;
        width: 70%;
    }
    .footer-icons {
        font-size: 12px;
        padding-top: 8px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 350px and over 316px wide */
@media (max-width: 350px) and (min-width: 316px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 4%;
    }
    .game-window {
        margin: 0;
    }
    .flex-container {
        bottom: 143px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: -1.5em;
        max-height: 225px;
        max-width: 225px;
        padding: 0;
        position: relative;
    }
    .image img {
        max-height: 140px;
        max-width: 140px;
        position: fixed;
        right: 35px;
        top: 103px;
    }
    .image {
        bottom: 180px;
        left: 95px;
        max-height: 140px;
        max-width: 140px;
        position: relative;
    }
    .tile {
        background-size: 225px 225px;
        height: 75px;
        position: relative;
        width: 75px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 2.8em;
        position: fixed;
        top: 100px;
        width: 32%;
    }
    .menu-modal {
        height: 65vh;
        position: absolute;
        width: 87%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 12px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 4px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 4px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 70px;
        width: 70%;
    }
    .footer-icons {
        font-size: 12px;
        padding-top: 8px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 400px and over 351px wide */
@media (max-width: 400px) and (min-width: 351px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 4%;
    }
    .game-window {
        margin: 0;
    }
    .flex-container {
        bottom: 143px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: -1.5em;
        max-height: 240px;
        max-width: 240px;
        padding: 0;
        position: relative;
    }
    .image img {
        max-height: 150px;
        max-width: 150px;
        position: fixed;
        right: 45px;
        top: 95px;
    }
    .image {
        bottom: 180px;
        left: 134px;
        max-height: 150px;
        max-width: 150px;
        position: relative;
    }
    .tile {
        background-size: 240px 240px;
        height: 80px;
        position: relative;
        width: 80px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 3.5em;
        position: fixed;
        top: 105px;
        width: 32%;
    }
    .menu-modal {
        height: 65vh;
        position: absolute;
        width: 87%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 12px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 4px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 4px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 70px;
        width: 70%;
    }
    .footer-icons {
        font-size: 12px;
        padding-top: 8px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 419px and over 401px wide */
@media (max-width: 419px) and (min-width: 401px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 4%;
    }
    .game-window {
        height: 75vh;
        margin: 0;
    }
    .flex-container {
        bottom: 95px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: -1.5em;
        max-height: 300px;
        max-width: 300px;
        padding: 0;
        position: relative;
    }
    .image img {
        max-height: 150px;
        max-width: 150px;
        position: fixed;
        right: 60px;
        top: 90px;
    }
    .image {
        bottom: 180px;
        left: 134px;
        max-height: 150px;
        max-width: 150px;
        position: relative;
    }
    .tile {
        background-size: 300px 300px;
        height: 100px;
        position: relative;
        width: 100px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 5em;
        position: fixed;
        top: 105px;
        width: 35%;
    }
    .menu-modal {
        height: 70vh;
        left: 0.5em;
        position: absolute;
        width: 88%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 13px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 5px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 70px;
        padding: 5px;
        width: 67%;
    }
    .footer-icons {
        font-size: 14px;
        padding-top: 50px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 450px and over 420px wide */
@media (max-width: 450px) and (min-width: 420px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 4%;
    }
    .game-window {
        height: 75vh;
        margin: 0;
    }
    .flex-container {
        bottom: 95px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: -1.5em;
        max-height: 300px;
        max-width: 300px;
        padding: 0;
        position: relative;
    }
    .image img {
        max-height: 150px;
        max-width: 150px;
        position: fixed;
        right: 65px;
        top: 95px;
    }
    .image {
        bottom: 180px;
        left: 134px;
        max-height: 150px;
        max-width: 150px;
        position: relative;
    }
    .tile {
        background-size: 300px 300px;
        height: 100px;
        position: relative;
        width: 100px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 5.5em;
        position: fixed;
        top: 105px;
        width: 35%;
    }
    .menu-modal {
        height: 70vh;
        left: 0.5em;
        position: absolute;
        width: 90%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 13px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 5px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 70px;
        padding: 5px;
        width: 70%;
    }
    .footer-icons {
        font-size: 14px;
        padding-top: 50px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 480px and over 451px wide */
@media (max-width: 480px) and (min-width: 451px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 4%;
    }
    .game-window {
        height: 75vh;
        margin: 0;
    }
    .flex-container {
        bottom: 91px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: -1.5em;
        max-height: 300px;
        max-width: 300px;
        padding: 0;
        position: relative;
    }
    .image img {
        max-height: 150px;
        max-width: 150px;
        position: fixed;
        right: 79px;
        top: 95px;
    }
    .image {
        bottom: 180px;
        left: 134px;
        max-height: 150px;
        max-width: 150px;
        position: relative;
    }
    .tile {
        background-size: 300px 300px;
        height: 100px;
        position: relative;
        width: 100px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 6.5em;
        position: fixed;
        top: 105px;
        width: 35%;
    }
    .menu-modal {
        height: 70vh;
        left: 0.5em;
        position: absolute;
        width: 90%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 13px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 5px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 70px;
        padding: 5px;
        width: 70%;
    }
    .footer-icons {
        font-size: 14px;
        padding-top: 50px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 480px and over 451px wide */
@media (max-width: 480px) and (min-width: 451px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }

    body {
        height: 100vh;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 4%;
    }

    .game-window {
        height: 75vh;
        margin: 0;
    }

    .flex-container {
        bottom: 91px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }

    .puzzle-container {
        left: -1.5em;
        max-height: 300px;
        max-width: 300px;
        padding: 0;
        position: relative;
    }

    .image img {
        max-height: 150px;
        max-width: 150px;
        position: fixed;
        right: 79px;
        top: 95px;
    }

    .image {
        bottom: 180px;
        left: 134px;
        max-height: 150px;
        max-width: 150px;
        position: relative;
    }

    .tile {
        background-size: 300px 300px;
        height: 100px;
        position: relative;
        width: 100px;
    }

    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 6.5em;
        position: fixed;
        top: 105px;
        width: 35%;
    }

    .menu-modal {
        height: 70vh;
        left: 0.5em;
        position: absolute;
        width: 90%;
    }

    .sub-menu {
        position: relative;
    }

    .menu-title {
        font-size: 18px;
    }

    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }

    .menu-text p {
        font-size: 13px;
        margin: 7px;
        padding: 1px 3px;
    }

    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }

    #menu-button {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 5px;
        position: absolute;
        top: 10px;
        width: 75%;
    }

    button#new-game {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        top: 47px;
        width: 75%;
    }

    #moves {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 70px;
        padding: 5px;
        width: 70%;
    }

    .footer-icons {
        font-size: 14px;
        padding-top: 50px;
    }

    .copyright {
        font-size: 12px;
    }
}

/* for screen size under 481px and over 550px wide */
@media (max-width: 570px) and (min-width: 481px) {
    * {
        overflow-x: visible;
        overflow-y: visible;
    }
    body {
        height: 100vh;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 3%;
    }
    .game-window {
        height: 80vh;
        margin: 0;
    }
    .flex-container {
        bottom: 70px;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
        position: fixed;
    }
    .puzzle-container {
        left: -1.5em;
        max-height: 300px;
        max-width: 300px;
        padding: 0;
        position: relative;
    }
    .image img {
        max-height: 150px;
        max-width: 150px;
        position: fixed;
        right: 80px;
        top: 105px;
    }
    .image {
        bottom: 180px;
        left: 134px;
        max-height: 150px;
        max-width: 150px;
        position: relative;
    }
    .tile {
        background-size: 300px 300px;
        height: 100px;
        position: relative;
        width: 100px;
    }
    .buttons {
        color: #242F36;
        font-size: 12px;
        left: 7em;
        position: fixed;
        top: 105px;
        width: 35%;
    }
    .menu-modal {
        height: 75vh;
        left: 0.5em;
        position: absolute;
        width: 90%;
    }
    .sub-menu {
        position: relative;
    }
    .menu-title {
        font-size: 18px;
    }
    .menu-subtitle {
        font-size: 15px;
        padding: 0;
    }
    .menu-text p {
        font-size: 14px;
        margin: 7px;
        padding: 1px 3px;
    }
    .close-button {
        font-size: 10px;
        right: 10px;
        top: 16px;
    }
    #menu-button {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 5px;
        position: absolute;
        top: 10px;
        width: 75%;
    }
    button#new-game {
        font-size: 13px;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        top: 47px;
        width: 75%;
    }
    #moves {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 70px;
        padding: 5px;
        width: 70%;
    }
    .footer-icons {
        font-size: 14px;
        padding-top: 80px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* for screen size over 880px and under 899px wide */
@media (max-width: 899px) and (min-width: 880px) {
    .flex-container {
        margin-left: -2px;
        padding-top: 10%;
    }
    .puzzle-container {
        background-size: 300px 300px;
        height: 300px;
        width: 300px;
    }
    .tile {
        height: 100px;
        width: 100px;
    }
    .image {
        height: 300px;
        width: 300px;
    }
    .image img {
        height: 300px;
        width: 300px;
    }
    .menu-modal {
        max-width: 820px;
        overflow-y: hidden;
    }
    .menu-text p {
        margin-left: 2%;
    }
    .menu-title {
        top: 5%;
    }
    .buttons {
        margin-right: 3%;
    }
}

/* for screen size over 900px and under 910px wide */
@media (max-width: 910px) and (min-width: 900px) {
    .flex-container {
        margin-left: 0.4em;
        padding-top: 8%;
    }
    .puzzle-container {
        background-size: 330px 330px;
        height: 330px;
        width: 330px;
    }
    .tile {
        height: 110px;
        width: 110px;
    }
    .image {
        height: 330px;
        width: 330px;
    }
    .image img {
        height: 330px;
        width: 330px;
    }
    .menu-modal {
        max-width: 825px;
        overflow-y: hidden;
    }
    .menu-text p {
        margin-left: 2%;
    }
    .menu-title {
        top: 5%;
    }
    .buttons {
        margin-right: 1%;
    }
}

/* for screen size over 910px and under 920px wide */
@media (max-width: 920px) and (min-width: 910px) {
    .flex-container {
        margin-left: 0.3em;
        padding-top: 8%;
    }
    .puzzle-container {
        background-size: 330px 330px;
        height: 330px;
        width: 330px;
    }
    .tile {
        height: 110px;
        width: 110px;
    }
    .image {
        height: 330px;
        width: 330px;
    }
    .image img {
        height: 330px;
        width: 330px;
    }
    .buttons {
        margin-right: 1.5%;
    }
    .menu-modal {
        max-width: 840px;
        overflow-y: hidden;
    }
    .menu-text p {
        margin-left: 2%;
    }
    .menu-title {
        top: 5%;
    }
}

/* for screen size over 959px and under 921px wide */
@media (max-width: 959px) and (min-width: 921px) {
    .flex-container {
        margin-left: 1px;
        padding-top: 7%;
    }
    .puzzle-container {
        background-size: 330px 330px;
        height: 330px;
        width: 330px;
    }
    .tile {
        height: 110px;
        width: 110px;
    }
    .image {
        height: 330px;
        width: 330px;
    }
    .image img {
        height: 330px;
        width: 330px;
    }
    .buttons {
        margin-right: 2%;
    }
    .menu-modal {
        max-width: 865px;
        overflow-y: hidden;
    }
    .menu-text p {
        margin-left: 3%;
    }
    .menu-title {
        top: 5%;
    }
}